{
  "iss": "<url provider>",
  "client": {
    "application_type": "web",
    "grant_types": [
      "client_credentials"
    ],
    "id_token_signed_response_alg": "RS256",
    "post_logout_redirect_uris": [],
    "require_auth_time": true,
    "response_types": [],
    "subject_type": "public",
    "token_endpoint_auth_method": "client_secret_basic",
    "introspection_endpoint_auth_method": "client_secret_basic",
    "introspection_signed_response_alg": "RS256",
    "revocation_endpoint_auth_method": "client_secret_basic",
    "backchannel_logout_session_required": false,
    "frontchannel_logout_session_required": false,
    "require_signed_request_object": false,
    "request_uris": [],
    "authorization_signed_response_alg": "RS256",
    "web_message_uris": [],
    "client_id_issued_at": 1602896165,
    "client_id": "<client_id - provider>",
    "client_name": "<name client - provider>",
    "client_secret_expires_at": 0,
    "client_secret": "<client_secret - provider>",
    "contacts": [
      "contacto@agetic.gob.bo"
    ],
    "redirect_uris": []
  },
  "custom_resource": "<url custom resource>"
}